*
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header
{
    height: fit-content;
    background-color: rgb(158, 182, 235);
}
.mainNavContainer
{
    border-bottom: 1px solid rgb(180, 197, 231);    
    display: flex;    
    justify-content: space-around;
    padding: 10px 20px;
}
.logoCompanyName
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logoContainer
{
    height: 60px;
    width: 60px;
}
.logo
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*=============== NAV CONTACTINFO ===============*/
.contactInfo
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.support
{
    width: 30px;
    height: 30px;
}
.contactText
{
    padding-top: 20px;
    margin-left: 20px;
}
.phoneNo
{
    font-weight: bold;
    font-size: medium;
}


/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px){
    .mainNavContainer
    {
        justify-content: center;
    }
    .logoCompanyName
    {
        flex-direction: row;
        justify-content: center;
        padding: 30px 0;
    }
    .companyLogo
    {
        height: 50px;
        width: 50px;
    }
    .logo
    {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .contactInfo
    {
        display: none;
    }
}
/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 425px){
    .logoCompanyName
    {
        align-items: center;
        gap: 10px;
    }
    .contactInfo
    {
        display: none;
    }
}


@media screen and (max-width: 375px) {
    .logoCompanyName
    {
        flex-direction: column;
    }
}

